<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, user-scalable=no">
    <title>ChatZetti - Firebase - Chat</title>
    <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/3.0.3/normalize.css">
    <link rel="stylesheet" href="../css/bootstrap.min.css">
    <link rel="stylesheet" href="../css/chat.css">
</head>
<body>
<header>
    <div>
        <h1>ChatZetti</h1>
    </div>
</header>
<div id="matilda">

</div>
<section class="container">
    <div>
        <h1 id="chat1">Chat 3</h1><a href="../index.html">LogOut</a>
        <button type="button"><a href="chat.html">Chat 1</a> </button>
        <button type="button"><a href="chat2.html">Chat 2</a> </button>
        <div class="boxMessageTimeline">
        </div>


        <div class="cont-send">
            <input id="userName" class="txtName" type="text" placeholder="Name"/>
            <input id="sendBoxMessage" class="txtMessage" type="text" placeholder="Message"/>
            <input id="btnSend" class="cont-send-submit" type="submit"/>
        </div>
    </div>
</section>

<footer>
    <h2>ChatZetti - EC 2018</h2>
</footer>

<script src="https://www.gstatic.com/firebasejs/4.10.0/firebase.js"></script>
<script src="../scripts/firebaseApp.js"></script>
<script src="https://code.jquery.com/jquery-3.3.1.js"></script>
<script src="../scripts/bootstrap.min.js" rel="script"></script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.4/jquery.min.js"></script>
<script src="../scripts/chat3.js" type="text/javascript"></script>
<script src="https://cdn.firebase.com/js/client/2.2.9/firebase.js"></script>
<script src="../scripts/jquery-3.2.1.min.js" rel="script"></script>
<script src="../scripts/login.js"></script>
<script src="../scripts/presence.js"></script>
<script type="text/javascript" src="../scripts/currentUser.js"></script>

</body>
</html>