<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">	
	<meta name="viewport" content="width=device-width, user-scalable=no">
	<title>Demo - Chat - Firebase</title>
	<link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/3.0.3/normalize.css">
	<link rel="stylesheet" href="../css/chat.css">
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.4/jquery.min.js"></script>

	<script src="../scripts/chat.js" type="text/javascript"></script>
	<script src="https://cdn.firebase.com/js/client/2.2.9/firebase.js"></script>
	<script src="../jquery-3.2.1.min.js" rel="script"></script>

</head>
<body>
	<header>
		<div class="header-logo">
			<img src="../imgs/gdgcali.png" alt="">
		</div>
		<div class="h1Title">
			<h1>ChatZetti</h1>
		</div>
	</header>
	<nav>
		<ul class="menu-chat">
			<li><a href="#" title=""></a></li>
			<li><a href="#" title=""></a></li>
			<li><a href="#" title=""></a></li>
		</ul>
	</nav>
	<section class="contenidos">
		<div>
			<h1>Chat 1</h1>
		<div class="cont-mensaje-timeline">
		</div>
		<div class="cont-envio">
			<input id="userName" class="txtNombre" type="text" placeholder="Nombre"></input>
			<input id="sendBoxMessage" class="txtMensaje" type="text" placeholder="Mensaje"></input>
			<input id="btnSend" class="cont-envio-submit" type="submit"></input>
		</div>
		</div>



	</section>


	<footer>
		<h3>Por Juan Gómez - GDG Cali</h3>
	</footer>

	<script src="https://www.gstatic.com/firebasejs/4.10.0/firebase.js"></script>
	<script src="../firebaseApp.js"></script>
	<script>
        src="https://code.jquery.com/jquery-3.3.1.js";
        integrity="sha256-2Kok7MbOyxpgUVvAk/HJ2jigOSYS2auK4Pfzbm7uH60=";
        crossorigin="anonymous";
	</script>
	<script src="../scripts/	login.js"></script>
</body>
</html>