<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Login</title>
    <link rel="stylesheet" href="../styles/pagestyle.css">
</head>
<body>
<h3>Login using email and password</h3>
<form>
    <label for="email">Email</label>
    <input id="email" type="text">
    <label for="password">Password</label>
    <input id="password" type="password">
    <button id="login-email-password">Login using email and password</button>
</form>
<h3>Google login</h3>
<button id="google-login">Google login</button>
<script src="https://www.gstatic.com/firebasejs/4.10.0/firebase.js"></script>
<script src="../scripts/firebaseApp.js"></script>
<script
        src="https://code.jquery.com/jquery-3.3.1.js"
        integrity="sha256-2Kok7MbOyxpgUVvAk/HJ2jigOSYS2auK4Pfzbm7uH60="
        crossorigin="anonymous"></script>
<script src="../scripts/login.js"></script>
</body>
</html>