<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Login</title>

    <link rel="stylesheet" href="styles/bootstrap.min.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootswatch/3.3.7/simplex/bootstrap.min.css">
    <link rel="stylesheet" href="styles/pagestyle.css">


    <script src="scripts/jquery-3.2.1.min.js" rel="script"></script>
    <script src="scripts/bootstrap.min.js" rel="script"></script>
</head>
<body>

<div class="row">
    <div class="col-md-4 col-md-offset-4">
        <form>
            <h2>Register</h2>

            <div class="form-group">
                <label for="email">Email</label>
                <input type="email" class="form-control" id="email" placeholder="Email">
            </div>
            <div class="form-group">
                <label for="password">Password</label>
                <input type="password" class="form-control" id="password" placeholder="Password">
            </div>

            <button id="email-password-create">Create user</button>
        </form>
    </div>
</div>
<script src="https://www.gstatic.com/firebasejs/4.10.0/firebase.js"></script>
<script src="../scripts/firebaseApp.js"></script>
<script
        src="https://code.jquery.com/jquery-3.3.1.js"
        integrity="sha256-2Kok7MbOyxpgUVvAk/HJ2jigOSYS2auK4Pfzbm7uH60="
        crossorigin="anonymous"></script>
<script src="../scripts/register.js"></script>
</body>
</html>



















