<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Register user</title>
    <link rel="stylesheet" href="../styles/pagestyle.css">

</head>
<body>
<h3>Create user</h3>
<form action="">
    <label for="email">Email</label>
    <input id="email" type="text">
    <label for="password">Password</label>
    <input id="password" type="text">
    <button id="email-password-create">Create user using email and password</button>
</form>
<script src="https://www.gstatic.com/firebasejs/4.10.0/firebase.js"></script>
<script src="../scripts/firebaseApp.js"></script>
<script
        src="https://code.jquery.com/jquery-3.3.1.js"
        integrity="sha256-2Kok7MbOyxpgUVvAk/HJ2jigOSYS2auK4Pfzbm7uH60="
        crossorigin="anonymous"></script>
<script src="../scripts/register.js"></script>
</body>
</html>